<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.tripon.plandetail.domain.PlanAttractionRepository">
	
	<insert id="savePlanAttraction" parameterType="PlanAttraction" useGeneratedKeys="true"
			keyProperty="id">
		insert into plan_attractions (plandetail_id, attraction_id)
		value(#{planDetailId}, #{attractionId})
	</insert>
	
	<delete id="deletePlanAttractionByPlanDetailId" parameterType="Integer">
		delete from plan_attractions
		where plandetail_id = #{planDetailId}
	</delete>

	<select id="countPlanAttractionByPlanDetailId" parameterType="Integer" resultType="Integer">
		select count(*)
		from plan_attractions
		where plandetail_id = #{planDetailId}
	</select>

	<delete id="deletePlanAttractionByPlanDetailIdAndAttractionId" parameterType="map">
		DELETE FROM plan_attractions
		WHERE plandetail_id = #{planDetailId}
		AND attraction_id = #{attractionId}
	</delete>
	
</mapper>