<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.tripon.review.domain.ReviewRepository">

    <insert id="save" parameterType="Review" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reviews (member_email, title)
        VALUES (#{memberEmail}, #{title})
    </insert>

    <select id="findAll" resultType="Review">
        SELECT id, member_email as memberEmail, title, created_at as createdAt, updated_at as updatedAt
        FROM reviews
    </select>

    <select id="findById" parameterType="Integer" resultType="Review">
        SELECT id, member_email as memberEmail, title, created_at as createdAt, updated_at as updatedAt
        FROM reviews
        WHERE #{id}
    </select>

    <update id="update" parameterType="Review">
        UPDATE reviews
        SET title = #{title},
            updated_at = NOW()
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById" parameterType="Integer">
        DELETE FROM reviews
        WHERE id = #{id}
    </delete>

</mapper>