<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.tripon.attraction.domain.AttractionRepository">

	<select id="findAllAttraction"
			parameterType="com.ssafy.tripon.attraction.application.command.AttractionFindCommand"
			resultType="Attraction">
		SELECT id AS no,
			   title,
			   area_code AS areaCode,
			   si_gun_gu_code AS siGunGuCode,
			   latitude,
			   longitude,
			   first_image1 AS FirstImage1,
			   addr1
		FROM materialized_union_attractions
		<where>
			<if test="areaCode != null">
				AND area_code = #{areaCode}
			</if>
			<if test="keyword != null and keyword != ''">
				AND title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="siGunGuCode != null">
				AND si_gun_gu_code = #{siGunGuCode}
			</if>
			<if test="type != null">
				AND content_type_id = #{type}
			</if>
			<if test="cursor != null">
				AND id &gt; #{cursor}
			</if>
		</where>
		ORDER BY no ASC
		LIMIT #{size}
	</select>

	<select id="findAttraction"
			parameterType="com.ssafy.tripon.attraction.application.command.AttractionSaveCommand"
			resultType="Integer">
		SELECT id
		FROM materialized_union_attractions
		<where>
			<if test="title != null">
				AND title = #{title}
			</if>
		</where>
	</select>
	
	<select id="findUniqueAttraction"
			parameterType="com.ssafy.tripon.attraction.application.command.AttractionSaveCommand"
			resultType="Attraction">
		SELECT id AS no,
			   title,
			   area_code AS areaCode,
			   si_gun_gu_code AS siGunGuCode,
			   latitude,
			   longitude,
			   first_image1 AS FirstImage1,
			   addr1
		FROM materialized_union_attractions
		<where>
			<if test="title != null">
				AND title = #{title}
			</if>
			<if test="address != null">
				AND addr1 = #{address}
			</if>
		</where>
	</select>

	<insert id="saveCustomAttraction"
			parameterType="CustomAttraction"
			useGeneratedKeys="true"
			keyProperty="id">
		INSERT INTO custom_attractions (title, addr1, latitude, longitude)
		VALUES (#{title}, #{addr1}, #{latitude}, #{longitude})
	</insert>

	<select id="findAttractionById" parameterType="Integer" resultType="Attraction">
		SELECT id as no, title, first_image1 as FirstImage1, addr1, area_code as areaCode, si_gun_gu_code as siGunGuCode, latitude, longitude
		FROM materialized_union_attractions
		WHERE id = #{id}
	</select>

</mapper>